.task-container {

    background-color: #f8f8f8;

}

.cancelbtn {
    background-color: #380d50;
}
/* .text-completed {
    color: rgb(1, 167, 1);
}

*/

.completed {
    background-color: rgba(0, 175, 0, 0.418);
    color: rgb(0, 73, 0);
    font-size: 0.7rem;
    font-weight: 600;

}